<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"><!-- Primary Meta Tags -->
    <!-- Primary Meta Tags --><title>
    {{ title }}
    </title> <meta
    name="description" content="{{ description }}"> <!-- Open Graph / Facebook -->
    <meta property="og:type" content="{{ url }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="{{ image }}">
    <meta property="og:url" content="{{ url }}">
    <meta
    property="og:site_name" content="{{url}}"> <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="{{ image }}">
    <meta
    name="twitter:url" content="{{ url }}"> <!-- Meta Tags Generated with https://metatags.io -->
    <link
    rel="icon" href="/img/favicon.png"> <!-- capture the CSS content as a Nunjucks variable -->
    {% set css %}
    {% include "styles.css" %}
    {% endset %}
    <!-- feed it through our cssmin filter to minify -->
    <style>
      {{css | cssmin | safe}}</style>
  </head>
  <body>
    <main>
      {% include 'header.njk' %}
      {{ content | safe }}
    </main>
    {% include 'footer.njk' %}
    <!-- capture the JS content as a Nunjucks variable -->
    {% set js %}
    {% include "index.js" %}
    {% endset %}
    <!-- feed it through our jsmin filter to minify -->
    <script>
      {{ js | jsmin | safe }}</script>
  </body>
</html>