<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"><!-- Primary Meta Tags -->
    <!-- Primary Meta Tags -->
      <title>
    Bienvenido a mi Web
    </title> <meta name="title" content="Bienvenido a mi Web"/>
    <meta
    name="description" content="Meta description de la pagina de inicio"/> <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://ylnaud.github.io/starter-project-eleventy/"/>
    <meta property="og:title" content="Bienvenido a mi Web"/>
    <meta property="og:description" content="Meta description de la pagina de inicio"/>
    <meta
    property="og:image" content="https://metatags.io/images/meta-tags.png"/> <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image"/>
    <meta property="twitter:url" content="https://ylnaud.github.io/starter-project-eleventy/"/>
    <meta property="twitter:title" content="Bienvenido a mi Web"/>
    <meta property="twitter:description" content="Meta description de la pagina de inicio"/>
    <meta
    property="twitter:image" content="https://metatags.io/images/meta-tags.png"/> <!-- Meta Tags Generated with https://metatags.io -->
    <link
    rel="icon" href="/img/favicon.png"> <!-- capture the CSS content as a Nunjucks variable -->
    {% set css %}
    {% include "styles.css" %}
    {% endset %}
    <!-- feed it through our cssmin filter to minify -->
    <style>
      {{css | cssmin | safe}}</style>
  </head>
  <body>
    <main>
      {% include 'header.njk' %}
      {{ content | safe }}
    </main>
    {% include 'footer.njk' %}
    <!-- capture the JS content as a Nunjucks variable -->
    {% set js %}
    {% include "index.js" %}
    {% endset %}
    <!-- feed it through our jsmin filter to minify -->
    <script>
      {{ js | jsmin | safe }}</script>
  </body>
</html>