<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{description}}">
  <title>{{ title }}</title>
  <link rel="icon" href="/img/favicon.png">
   <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <main>
   {% include 'header.njk' %}
   {{  content | safe }}
  </main>
    {% include 'footer.njk' %}
    <script src="/js/index.js" type="module"></script>
</body>
</html>

