<footer>
  🎈🦡<p>&copy; 2024
    <small>Mi Sitio Hecho con
      <a href="https://www.11ty.dev/" target="_blank">
        <b>
          <i>11ty</i>
        </b>
      </a>
      <a href="https://ylnaud.github.io/starter-project-eleventy/{{ page.inputPath }}"></a>
    </small>
  </p>🦡🎈
</footer>